body {
    background-color:#b3ffd9;
}
a{
    border-style:solid;
    border-width:2px;
    font-family:'Pacifico', cursive;
    font-size:150%;
    background-color:#ffdccc;
    color:black;
}
h3{
    font-family: 'Dancing Script',cursive;
}