body {
    background-color:#b3ffd9;
}
a{
    border-style:solid;
    border-width:2px;
    font-family:'Pacifico', cursive;
    font-size:150%;
    background-color:#ffdccc;
    color:black;
}
#peep{
    text-align: center;
    width: 32%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 2%;
    margin-left:12%;

    
    
}
h3{
    font-family: 'Dancing Script', cursive;